In [9]:
import pandas as pd

# Load chipotle.tsv tab-separated
df = pd.read_csv('../data/chipotle.tsv', sep = '\t')
print(df)
df.columns

      order_id  quantity                              item_name  \
0            1         1           Chips and Fresh Tomato Salsa
1            1         1                                   Izze
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
4            2         2                           Chicken Bowl
...        ...       ...                                    ...
4617      1833         1                          Steak Burrito
4618      1833         1                          Steak Burrito
4619      1834         1                     Chicken Salad Bowl
4620      1834         1                     Chicken Salad Bowl
4621      1834         1                     Chicken Salad Bowl

                                     choice_description item_price
0                                                   NaN     $2.39
1                                          [Clementine]     $3.39
2                                               [Apple]     $3.39
3                                                   NaN     $2.39
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
...                                                 ...        ...
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...    $11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75

[4622 rows x 5 columns]

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='str')

In [11]:
import pandas as pd

# Load 'data/ufo.csv'
df = pd.read_csv('../data/ufo.csv')
print(df)

                       City Colors Reported Shape Reported State  \
0                    Ithaca             NaN       TRIANGLE    NY
1               Willingboro             NaN          OTHER    NJ
2                   Holyoke             NaN           OVAL    CO
3                   Abilene             NaN           DISK    KS
4      New York Worlds Fair             NaN          LIGHT    NY
...                     ...             ...            ...   ...
18236            Grant Park             NaN       TRIANGLE    IL
18237           Spirit Lake             NaN           DISK    IA
18238           Eagle River             NaN            NaN    WI
18239           Eagle River             RED          LIGHT    WI
18240                  Ybor             NaN           OVAL    FL

                   Time
0        6/1/1930 22:00
1       6/30/1930 20:00
2       2/15/1931 14:00
3        6/1/1931 13:00
4       4/18/1933 19:00
...                 ...
18236  12/31/2000 23:00
18237  12/31/2000 23:00
18238  12/31/2000 23:45
18239  12/31/2000 23:45
18240  12/31/2000 23:59

[18241 rows x 5 columns]

In [15]:
import pandas as pd

# Check how many rows and columns each has
df = pd.read_csv('../data/ufo.csv')
df.shape

(18241, 5)

In [20]:
import pandas as pd

# Look at the first 5 rows of each
df = pd.read_csv('../data/ufo.csv')
df.head(10)

                   City Colors Reported Shape Reported State              Time
0                Ithaca             NaN       TRIANGLE    NY    6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ   6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO   2/15/1931 14:00
3               Abilene             NaN           DISK    KS    6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY   4/18/1933 19:00
5           Valley City             NaN           DISK    ND   9/15/1934 15:30
6           Crater Lake             NaN         CIRCLE    CA    6/15/1935 0:00
7                  Alma             NaN           DISK    MI    7/15/1936 0:00
8               Eklutna             NaN          CIGAR    AK  10/15/1936 17:00
9               Hubbard             NaN       CYLINDER    OR    6/15/1937 0:00

In [44]:
import pandas as pd

# What's in DataFrame?
df = pd.read_csv('../data/auto-mpg.csv')

# Seeing the structure
print(type(df)) 
print(df.shape)
print(df.columns)
df.dtypes
df.describe()
df['mpg'] # Bracket notation for selecting a single column

# iloc not inclusive meaning doesn't include 5
df.iloc[2:5]

# loc this inclusive
df.loc[0:5, 'mpg':'weight']

# Boolean filtering
df[df['mpg'] > 30]

# Mixing Boolean Filtering with Loc
subset = df.loc[1:100]
subset[subset['mpg'] > 30]

# Boolean Filtering with Multiple Conditions
df[(df['mpg'] > 30) & (df['cylinders'] == 4)]

# Filter by string
df[df['name'].str.contains('ford')]

<class 'pandas.DataFrame'>
(398, 9)
Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'year', 'origin', 'name'],
      dtype='str')

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
5,15.0,8,429.0,198,4341,10.0,70,1,ford galaxie 500
17,21.0,6,200.0,85,2587,16.0,70,1,ford maverick
25,10.0,8,360.0,215,4615,14.0,70,1,ford f250
32,25.0,4,98.0,?,2046,19.0,71,1,ford pinto
36,19.0,6,250.0,88,3302,15.5,71,1,ford torino 500
40,14.0,8,351.0,153,4154,13.5,71,1,ford galaxie 500
43,13.0,8,400.0,170,4746,12.0,71,1,ford country squire (sw)
48,18.0,6,250.0,88,3139,14.5,71,1,ford mustang
61,21.0,4,122.0,86,2226,16.5,72,1,ford pinto runabout
65,14.0,8,351.0,153,4129,13.0,72,1,ford galaxie 500
74,13.0,8,302.0,140,4294,16.0,72,1,ford gran torino (sw)
80,22.0,4,122.0,86,2395,16.0,72,1,ford pinto (sw)
88,14.0,8,302.0,137,4042,14.5,73,1,ford gran torino
92,13.0,8,351.0,158,4363,13.0,73,1,ford ltd
100,18.0,6,250.0,88,3021,16.5,73,1,ford maverick
104,12.0,8,400.0,167,4906,12.5,73,1,ford country
112,19.0,4,122.0,85,2310,18.5,73,1,ford pinto
126,21.0,6,200.0,?,2875,17.0,74,1,ford maverick
130,26.0,4,122.0,80,2451,16.5,74,1,ford pinto
136,16.0,8,302.0,140,4141,14.0,74,1,ford gran torino
139,14.0,8,302.0,140,4638,16.0,74,1,ford gran torino (sw)
155,15.0,6,250.0,72,3158,19.5,75,1,ford maverick
159,14.0,8,351.0,148,4657,13.5,75,1,ford ltd
166,13.0,8,302.0,129,3169,12.0,75,1,ford mustang ii
168,23.0,4,140.0,83,2639,17.0,75,1,ford pinto
174,18.0,6,171.0,97,2984,14.5,75,1,ford pinto
190,14.5,8,351.0,152,4215,12.8,76,1,ford gran torino
193,24.0,6,200.0,81,3012,17.6,76,1,ford maverick
200,18.0,6,250.0,78,3574,21.0,76,1,ford granada ghia
206,26.5,4,140.0,72,2565,13.6,76,1,ford pinto
214,13.0,8,302.0,130,3870,15.0,76,1,ford f108
228,18.5,6,250.0,98,3525,19.0,77,1,ford granada
232,16.0,8,351.0,149,4335,14.5,77,1,ford thunderbird
236,25.5,4,140.0,89,2755,15.8,77,1,ford mustang ii 2+2
245,36.1,4,98.0,66,1800,14.4,78,1,ford fiesta
254,20.2,6,200.0,85,2965,15.8,78,1,ford fairmont (auto)
255,25.1,4,140.0,88,2720,15.4,78,1,ford fairmont (man)
264,18.1,8,302.0,139,3205,11.2,78,1,ford futura
282,22.3,4,140.0,88,2890,17.3,79,1,ford fairmont 4
286,17.6,8,302.0,129,3725,13.4,79,1,ford ltd landau
290,15.5,8,351.0,142,4054,14.3,79,1,ford country squire (sw)
314,26.4,4,140.0,88,2870,18.1,80,1,ford fairmont
336,23.6,4,140.0,?,2905,14.3,80,1,ford mustang cobra
351,34.4,4,98.0,65,2045,16.2,81,1,ford escort 4w
352,29.9,4,98.0,65,2380,20.7,81,1,ford escort 2h
365,20.2,6,200.0,88,3060,17.1,81,1,ford granada gl
373,24.0,4,140.0,92,2865,16.4,82,1,ford fairmont futura
389,22.0,6,232.0,112,2835,14.7,82,1,ford granada l
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger

In [51]:
import pandas as pd

# Practice Questions
df = pd.read_csv('../data/auto-mpg.csv')

# 1. Get the 'name' column
df['name']

# 2. Get the columns 'mpg', 'horsepower', 'name'
df[['mpg', 'horsepower', 'name']]

# 3. Get the first 10 rows
df.head(10)

# 4. Get row 5, column 'name' using iloc
df.loc[5, 'name']

# 5. Filter: Car with mpg > 35
df[df['mpg'] > 35]

# 6. Filter: Cars with 4 Cylinders AND mpg > 30
df[(df['cylinders'] == 4) & (df['mpg'] > 30)]

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
53,31.0,4,71.0,65,1773,19.0,71,3,toyota corolla 1200
54,35.0,4,72.0,69,1613,18.0,71,3,datsun 1200
129,31.0,4,79.0,67,1950,19.0,74,3,datsun b210
131,32.0,4,71.0,65,1836,21.0,74,3,toyota corolla 1200
144,31.0,4,76.0,52,1649,16.5,74,3,toyota corona
...,...,...,...,...,...,...,...,...,...
390,32.0,4,144.0,96,2665,13.9,82,3,toyota celica gt
391,36.0,4,135.0,84,2370,13.0,82,1,dodge charger 2.2
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [63]:
import pandas as pd

# Finding missing values
df = pd.read_csv('../data/auto-mpg.csv', na_values =['NA', '?'])

df[df['horsepower'].isnull()]

df['horsepower'] = df['horsepower'].fillna(0)

In [73]:
import pandas as pd

df = pd.read_csv('../data/auto-mpg.csv', na_values=['NA', '?', 'NA',''])

# 1. How many missing values in each column?
df.isnull().sum()

# 2. Which rows have missing horsepower?
df[df['horsepower'].isnull()]

# 3. Fill missing horsepower with the median
median_hp = df['horsepower'].median()
df['horsepower'] = df['horsepower'].fillna(median_hp)

# 4. Verify no more missing values in horsepower
df[df['horsepower'].isnull()]

Empty DataFrame
Columns: [mpg, cylinders, displacement, horsepower, weight, acceleration, year, origin, name]
Index: []